In [1]:
import pandas as pd

# Carga de los datset iniciales
print("Cargando datos de las fuentes csv...")
try:
    df_a = pd.read_csv("DatasetNombres/healthcare_dataset.csv")
    df_b = pd.read_csv("DatasetValores/synthetic_clinical_dataset.csv")
    print("Datos cargados correctamente")
    
except FileNotFoundError as e:
    print("Error: No se encontró uno de los archivos CSV especificados.")
    print(f"Detalles del error: {type(e).__name__} - {e}")
    
except Exception as e:
    print("Error inesperado durante la carga de datos.")
    print(f"Detalles del error: {type(e).__name__} - {e}")

Cargando datos de las fuentes csv...
Datos cargados correctamente

In [2]:
# visualización de información general de los dataset cargados
print("\n" + "=" * 80)
print("Información del primer dataset - healthcare.csv")
df_a.info()
print("Primeras 10 filas del dataset")
print(df_a.head(10))
print("Valores nulos de cada columna")
print(df_a.isnull().sum())


print("\n" + "=" * 80)
print("Información del segundo dataset - synthetic_clinical.csv")
df_b.info()
print("Primeras 10 filas del dataset")
print(df_b.head(10))
print("Valores nulos de cada columna")
print(df_b.isnull().sum())

================================================================================
Información del primer dataset - healthcare.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB
Primeras 10 filas del dataset
                 Name  Age  Gender Blood Type Medical Condition  \
0       Bobby JacksOn   30    Male         B-            Cancer
1        LesLie TErRy   62    Male         A+           Obesity
2         DaNnY sMitH   76  Female         A-           Obesity
3        andrEw waTtS   28  Female         O+          Diabetes
4       adrIENNE bEll   43  Female        AB+            Cancer
5       EMILY JOHNSOn   36    Male         A+            Asthma
6      edwArD EDWaRDs   21  Female        AB-          Diabetes
7  CHrisTInA MARtinez   20  Female         A+            Cancer
8     JASmINe aGuIlaR   82    Male        AB+            Asthma
9    ChRISTopher BerG   58  Female        AB-            Cancer

  Date of Admission            Doctor                     Hospital  \
0        2024-01-31     Matthew Smith              Sons and Miller
1        2019-08-20   Samantha Davies                      Kim Inc
2        2022-09-22  Tiffany Mitchell                     Cook PLC
3        2020-11-18       Kevin Wells   Hernandez Rogers and Vang,
4        2022-09-19    Kathleen Hanna                  White-White
5        2023-12-20     Taylor Newton               Nunez-Humphrey
6        2020-11-03       Kelly Olson              Group Middleton
7        2021-12-28    Suzanne Thomas  Powell Robinson and Valdez,
8        2020-07-01   Daniel Ferguson                Sons Rich and
9        2021-05-23       Heather Day               Padilla-Walker

  Insurance Provider  Billing Amount  Room Number Admission Type  \
0         Blue Cross    18856.281306          328         Urgent
1           Medicare    33643.327287          265      Emergency
2              Aetna    27955.096079          205      Emergency
3           Medicare    37909.782410          450       Elective
4              Aetna    14238.317814          458         Urgent
5   UnitedHealthcare    48145.110951          389         Urgent
6           Medicare    19580.872345          389      Emergency
7              Cigna    45820.462722          277      Emergency
8              Cigna    50119.222792          316       Elective
9   UnitedHealthcare    19784.631062          249       Elective

  Discharge Date   Medication  Test Results
0     2024-02-02  Paracetamol        Normal
1     2019-08-26    Ibuprofen  Inconclusive
2     2022-10-07      Aspirin        Normal
3     2020-12-18    Ibuprofen      Abnormal
4     2022-10-09   Penicillin      Abnormal
5     2023-12-24    Ibuprofen        Normal
6     2020-11-15  Paracetamol  Inconclusive
7     2022-01-07  Paracetamol  Inconclusive
8     2020-07-14      Aspirin      Abnormal
9     2021-06-22  Paracetamol  Inconclusive
Valores nulos de cada columna
Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

================================================================================
Información del segundo dataset - synthetic_clinical.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   patient_id       10000 non-null  int64
 1   age              10000 non-null  int64
 2   sex              10000 non-null  object
 3   bmi              10000 non-null  float64
 4   systolic_bp      10000 non-null  float64
 5   diastolic_bp     10000 non-null  float64
 6   glucose          10000 non-null  float64
 7   cholesterol      10000 non-null  float64
 8   creatinine       10000 non-null  float64
 9   diabetes         10000 non-null  int64
 10  hypertension     10000 non-null  int64
 11  diagnosis        10000 non-null  object
 12  readmission_30d  10000 non-null  int64
 13  mortality        10000 non-null  int64
dtypes: float64(6), int64(6), object(2)
memory usage: 1.1+ MB
Primeras 10 filas del dataset
   patient_id  age     sex   bmi  systolic_bp  diastolic_bp  glucose  \
0        1001   63    Male  24.1        131.0          81.0    136.2
1        1002   52    Male  20.8        118.0          91.0    136.5
2        1003   66    Male  30.0        144.0          73.0    100.0
3        1004   82    Male  16.8        112.0          76.0    117.3
4        1005   50  Female  25.4        102.0          65.0    128.0
5        1006   50    Male  15.0        140.0          91.0     93.8
6        1007   83    Male  19.0        118.0          84.0     72.4
7        1008   68  Female  21.7        119.0          93.0    122.2
8        1009   46    Male  33.6        114.0          82.0    127.4
9        1010   64  Female  31.1        116.0          93.0    123.7

   cholesterol  creatinine  diabetes  hypertension      diagnosis  \
0        210.3        1.04         0             0         Sepsis
1        207.9        1.49         0             1         Normal
2        179.5        1.15         0             0         Normal
3        228.3        0.59         0             0  Heart Failure
4        150.7        1.38         0             0         Normal
5        179.6        1.24         0             0      Pneumonia
6        216.2        1.30         0             1         Normal
7        220.1        1.34         0             0      Pneumonia
8        163.0        0.84         0             0  Heart Failure
9        265.0        1.32         0             1      Pneumonia

   readmission_30d  mortality
0                0          0
1                0          0
2                0          0
3                0          0
4                0          0
5                0          0
6                0          0
7                0          0
8                0          0
9                0          0
Valores nulos de cada columna
patient_id         0
age                0
sex                0
bmi                0
systolic_bp        0
diastolic_bp       0
glucose            0
cholesterol        0
creatinine         0
diabetes           0
hypertension       0
diagnosis          0
readmission_30d    0
mortality          0
dtype: int64

In [3]:
print("Valores únicos a emparejar del dataset A:")
print(df_a['Gender'].unique())

print("Valores únicos a emparejar del dataset B:")
print(df_b['sex'].unique())
# normalización de la columna por la cual se van a integrar ambos dataset
df_a["Gender"] = df_a["Gender"].str.strip().str.lower()
df_b["sex"] = df_b["sex"].str.strip().str.lower()

# str.strip para eliminar espacios innecesarios
# str.lower para normalizar la escritura a un solo tipo

Valores únicos a emparejar del dataset A:
['Male' 'Female']
Valores únicos a emparejar del dataset B:
['Male' 'Female' 'Other']

In [4]:
# Separación del dataset a por genero - clasificacion de registros
df_a_male = df_a[df_a["Gender"] == "male"].reset_index(drop=True)
df_a_female = df_a[df_a["Gender"] == "female"].reset_index(drop=True)

'''
Se separa en dos conjuntos para ir tomando registros respectivamente según se empareje con el genero del registro x en el segundo dataset
El segundo dataset se va a recorrer de manera secuencial emparejando por genero los valores del primer dataset
.reset_index() Para crear un nuevo indice secuencial en los subconjuntos
drop = True para que no se agregue el indice del dataframe original como una columna
'''
print("\nValores en cada subconjunto")
print("Male:", df_a_male.shape)
print("Female:", df_a_female.shape)

Valores en cada subconjunto
Male: (27774, 15)
Female: (27726, 15)

In [5]:
# inicializamos una lista para cargar los registros combinados que se guardaran en el dataframe final
combined_rows = []

# tambien se inicializa los contadores para ir recorriendo las posiciones de los subconjuntos de generos
i_male = 0
i_female = 0

In [6]:
# como un valor de genero es other, vamos a generar data controlada para luego aplicar tecnicas de limpieza sober ciertas columnas
import random
aleatorios = 0


# recorremos todas las filas del segundo dataset
for _, row_b in df_b.iterrows():
    genero = row_b["sex"]

    if genero == "male":
        if i_male < len(df_a_male):
            row_a = df_a_male.iloc[i_male]
            i_male += 1
        else:
            # Si no quedan más hombres disponibles se añade nulo
            print("Se acabaron los registros de hombres")
            row_a = pd.Series()
    elif genero == "female":
        if i_female < len(df_a_female):
            row_a = df_a_female.iloc[i_female]
            i_female += 1
        else:
            # Si no quedan más mujeres disponibles va nulo
            print("Se acabaron los registros de mujeres")
            row_a = pd.Series()
    else:
        # Si existe un genero desconocido o distinto
        print(f"Genero desconocido #{aleatorios+1}: {genero}")
        if aleatorios < 100:
            # Escogemos aleatoriamente entre los subconjuntos de genero
            if random.choice(["male", "female"]) == "male" and len(df_a_male) > 0:
                random_index = random.randint(0, len(df_a_male) - 1)
                row_a_completa = df_a_male.iloc[random_index]
            elif len(df_a_female) > 0:
                random_index = random.randint(0, len(df_a_female) - 1)
                row_a_completa = df_a_female.iloc[random_index]
            else:
                row_a_completa = pd.Series()

            # Solo conversamos la columna del nombre
            if not row_a_completa.empty:
                row_a = pd.Series({col: row_a_completa[col] if col == "Name" else pd.NA for col in df_a.columns})
            else:
                row_a = pd.Series()
                
            aleatorios += 1
        else:
            # Si ya se hicieron 100 asignaciones, dejamos vacío
            row_a = pd.Series()
    
    # Combinamos las columnas de B con las de A
    combined_rows.append(pd.concat([row_b, row_a]))

print(len(combined_rows))
'''
iterrows() permite iterar fila por fila un df devolviendo index, Series - como no necesitamos el indice en la primera parte del for usamos _
en row_b["etiqeuta"] extraemos el campo especifico de esa fila
Clasificamos con el valor del genero en la fila x del segundo dataset y depende el caso tomamos uno de los registros del subconjunto
siempre y cuando aún haya registros por tomar
Con iloc hacemos acceso posicional obteniendo la fila i del subconjunto y avanzamos hacia el siguiente registro del subconjunto del primer df
pd.Series() añade una fila vacia
.concat() concatena verticalmente los dos Series (por índice/etiqueta), resultando en un único Series
.append() añadimos esa serie a la lista de resultados
'''

Genero desconocido #1: other
Genero desconocido #2: other
Genero desconocido #3: other
Genero desconocido #4: other
Genero desconocido #5: other
Genero desconocido #6: other
Genero desconocido #7: other
Genero desconocido #8: other
Genero desconocido #9: other
Genero desconocido #10: other
Genero desconocido #11: other
Genero desconocido #12: other
Genero desconocido #13: other
Genero desconocido #14: other
Genero desconocido #15: other
Genero desconocido #16: other
Genero desconocido #17: other
Genero desconocido #18: other
Genero desconocido #19: other
Genero desconocido #20: other
Genero desconocido #21: other
Genero desconocido #22: other
Genero desconocido #23: other
Genero desconocido #24: other
Genero desconocido #25: other
Genero desconocido #26: other
Genero desconocido #27: other
Genero desconocido #28: other
Genero desconocido #29: other
Genero desconocido #30: other
Genero desconocido #31: other
Genero desconocido #32: other
Genero desconocido #33: other
Genero desconocido #34: other
Genero desconocido #35: other
Genero desconocido #36: other
Genero desconocido #37: other
Genero desconocido #38: other
Genero desconocido #39: other
Genero desconocido #40: other
Genero desconocido #41: other
Genero desconocido #42: other
Genero desconocido #43: other
Genero desconocido #44: other
Genero desconocido #45: other
Genero desconocido #46: other
Genero desconocido #47: other
Genero desconocido #48: other
Genero desconocido #49: other
Genero desconocido #50: other
Genero desconocido #51: other
Genero desconocido #52: other
Genero desconocido #53: other
Genero desconocido #54: other
Genero desconocido #55: other
Genero desconocido #56: other
Genero desconocido #57: other
Genero desconocido #58: other
Genero desconocido #59: other
Genero desconocido #60: other
Genero desconocido #61: other
Genero desconocido #62: other
Genero desconocido #63: other
Genero desconocido #64: other
Genero desconocido #65: other
Genero desconocido #66: other
Genero desconocido #67: other
Genero desconocido #68: other
Genero desconocido #69: other
Genero desconocido #70: other
Genero desconocido #71: other
Genero desconocido #72: other
Genero desconocido #73: other
Genero desconocido #74: other
Genero desconocido #75: other
Genero desconocido #76: other
Genero desconocido #77: other
Genero desconocido #78: other
Genero desconocido #79: other
Genero desconocido #80: other
Genero desconocido #81: other
Genero desconocido #82: other
Genero desconocido #83: other
Genero desconocido #84: other
Genero desconocido #85: other
Genero desconocido #86: other
Genero desconocido #87: other
Genero desconocido #88: other
Genero desconocido #89: other
Genero desconocido #90: other
Genero desconocido #91: other
Genero desconocido #92: other
Genero desconocido #93: other
Genero desconocido #94: other
Genero desconocido #95: other
Genero desconocido #96: other
Genero desconocido #97: other
Genero desconocido #98: other
Genero desconocido #99: other
Genero desconocido #100: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
Genero desconocido #101: other
10000

'\niterrows() permite iterar fila por fila un df devolviendo index, Series - como no necesitamos el indice en la primera parte del for usamos _\nen row_b["etiqeuta"] extraemos el campo especifico de esa fila\nClasificamos con el valor del genero en la fila x del segundo dataset y depende el caso tomamos uno de los registros del subconjunto\nsiempre y cuando aún haya registros por tomar\nCon iloc hacemos acceso posicional obteniendo la fila i del subconjunto y avanzamos hacia el siguiente registro del subconjunto del primer df\npd.Series() añade una fila vacia\n.concat() concatena verticalmente los dos Series (por índice/etiqueta), resultando en un único Series\n.append() añadimos esa serie a la lista de resultados\n'

In [7]:
# Finalmente creamos el nuevo dataframe en base a la lista de series que se obtiene como resultado de la integración
df_data_final = pd.DataFrame(combined_rows)
print("\n" + "=" * 100)
print("Datos finales del dataset")
df_data_final.info()

print("\n" + "=" * 100)
print("Datos nulos del dataset")
print(df_data_final.isnull().sum())

====================================================================================================
Datos finales del dataset
<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to Unnamed 9995
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patient_id          10000 non-null  int64
 1   age                 10000 non-null  int64
 2   sex                 10000 non-null  object
 3   bmi                 10000 non-null  float64
 4   systolic_bp         10000 non-null  float64
 5   diastolic_bp        10000 non-null  float64
 6   glucose             10000 non-null  float64
 7   cholesterol         10000 non-null  float64
 8   creatinine          10000 non-null  float64
 9   diabetes            10000 non-null  int64
 10  hypertension        10000 non-null  int64
 11  diagnosis           10000 non-null  object
 12  readmission_30d     10000 non-null  int64
 13  mortality           10000 non-null  int64
 14  Name                9984 non-null   object
 15  Age                 9884 non-null   object
 16  Gender              9884 non-null   object
 17  Blood Type          9884 non-null   object
 18  Medical Condition   9884 non-null   object
 19  Date of Admission   9884 non-null   object
 20  Doctor              9884 non-null   object
 21  Hospital            9884 non-null   object
 22  Insurance Provider  9884 non-null   object
 23  Billing Amount      9884 non-null   object
 24  Room Number         9884 non-null   object
 25  Admission Type      9884 non-null   object
 26  Discharge Date      9884 non-null   object
 27  Medication          9884 non-null   object
 28  Test Results        9884 non-null   object
dtypes: float64(6), int64(6), object(17)
memory usage: 2.3+ MB

====================================================================================================
Datos nulos del dataset
patient_id              0
age                     0
sex                     0
bmi                     0
systolic_bp             0
diastolic_bp            0
glucose                 0
cholesterol             0
creatinine              0
diabetes                0
hypertension            0
diagnosis               0
readmission_30d         0
mortality               0
Name                   16
Age                   116
Gender                116
Blood Type            116
Medical Condition     116
Date of Admission     116
Doctor                116
Hospital              116
Insurance Provider    116
Billing Amount        116
Room Number           116
Admission Type        116
Discharge Date        116
Medication            116
Test Results          116
dtype: int64

In [8]:
# Filtramos solo los datos necesarios que van a ser usados
columnas_ordenadas = [
    "patient_id", "Name", "age", "sex", "Blood Type",
    "bmi", "systolic_bp", "diastolic_bp", "glucose",
    "cholesterol", "creatinine", "diabetes", "hypertension",
    "diagnosis", "readmission_30d", "mortality", "Medical Condition"
]

columnas_finales = [col for col in columnas_ordenadas if col in df_data_final.columns]

df_data_final = df_data_final[columnas_finales]

df_data_final.info()
print("="*80)
print(df_data_final.head(10))

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to Unnamed 9995
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patient_id         10000 non-null  int64
 1   Name               9984 non-null   object
 2   age                10000 non-null  int64
 3   sex                10000 non-null  object
 4   Blood Type         9884 non-null   object
 5   bmi                10000 non-null  float64
 6   systolic_bp        10000 non-null  float64
 7   diastolic_bp       10000 non-null  float64
 8   glucose            10000 non-null  float64
 9   cholesterol        10000 non-null  float64
 10  creatinine         10000 non-null  float64
 11  diabetes           10000 non-null  int64
 12  hypertension       10000 non-null  int64
 13  diagnosis          10000 non-null  object
 14  readmission_30d    10000 non-null  int64
 15  mortality          10000 non-null  int64
 16  Medical Condition  9884 non-null   object
dtypes: float64(6), int64(6), object(5)
memory usage: 1.4+ MB
================================================================================
           patient_id                 Name  age     sex Blood Type   bmi  \
0                1001        Bobby JacksOn   63    male         B-  24.1
1                1002         LesLie TErRy   52    male         A+  20.8
2                1003        EMILY JOHNSOn   66    male         A+  30.0
3                1004      JASmINe aGuIlaR   82    male        AB+  16.8
Unnamed 0        1005          DaNnY sMitH   50  female         A-  25.4
Unnamed 1        1006     mIchElLe daniELs   50    male         O+  15.0
Unnamed 2        1007  mRS. jamiE cAMPBELl   83    male        AB-  19.0
Unnamed 3        1008         andrEw waTtS   68  female         O+  21.7
Unnamed 4        1009       dANIEL schmIdt   46    male         B+  33.6
Unnamed 5        1010        adrIENNE bEll   64  female        AB+  31.1

           systolic_bp  diastolic_bp  glucose  cholesterol  creatinine  \
0                131.0          81.0    136.2        210.3        1.04
1                118.0          91.0    136.5        207.9        1.49
2                144.0          73.0    100.0        179.5        1.15
3                112.0          76.0    117.3        228.3        0.59
Unnamed 0        102.0          65.0    128.0        150.7        1.38
Unnamed 1        140.0          91.0     93.8        179.6        1.24
Unnamed 2        118.0          84.0     72.4        216.2        1.30
Unnamed 3        119.0          93.0    122.2        220.1        1.34
Unnamed 4        114.0          82.0    127.4        163.0        0.84
Unnamed 5        116.0          93.0    123.7        265.0        1.32

           diabetes  hypertension      diagnosis  readmission_30d  mortality  \
0                 0             0         Sepsis                0          0
1                 0             1         Normal                0          0
2                 0             0         Normal                0          0
3                 0             0  Heart Failure                0          0
Unnamed 0         0             0         Normal                0          0
Unnamed 1         0             0      Pneumonia                0          0
Unnamed 2         0             1         Normal                0          0
Unnamed 3         0             0      Pneumonia                0          0
Unnamed 4         0             0  Heart Failure                0          0
Unnamed 5         0             1      Pneumonia                0          0

          Medical Condition
0                    Cancer
1                   Obesity
2                    Asthma
3                    Asthma
Unnamed 0           Obesity
Unnamed 1            Cancer
Unnamed 2           Obesity
Unnamed 3          Diabetes
Unnamed 4            Asthma
Unnamed 5            Cancer

In [9]:
print("Valores nulos en la columna Name: ", df_data_final["Name"].isna().sum())
print("Registros en el dataset: ", len(df_data_final))

Valores nulos en la columna Name:  16
Registros en el dataset:  10000

In [10]:
# limpiamos la columna Name - eliminando los registros con nombres nulos
df_data_final = df_data_final.dropna(subset=["Name"])
print("Valores nulos en la columna Name: ", df_data_final["Name"].isna().sum())
print("Registros en el dataset", len(df_data_final))

Valores nulos en la columna Name:  0
Registros en el dataset 9984

In [11]:
# Imputamos los nulos de blood type con la moda
if "Blood Type" in df_data_final.columns:
    # Calculamos la moda
    moda_blood = df_data_final["Blood Type"].mode()[0]
    print(f"Moda de la columna 'Blood Type': {moda_blood}")

    # Rellenamos valores nulos con la moda
    # df_data_final["Blood Type"].fillna(moda_blood, inplace=True)
    df_data_final.fillna({'Blood Type': moda_blood}, inplace=True)

print("Valores nulos en Blood Type:", df_data_final['Blood Type'].isnull().sum())

# Imputamos los nulos de Medical condition igual con la moda
if 'Medical Condition' in df_data_final.columns:
    moda_medical_condition = df_data_final["Medical Condition"].mode()[0]
    print(f"Moda de la columna 'Medical Condition': {moda_medical_condition}")

    # df_data_final["Medical Condition"].fillna(moda_medical_condition, inplace=True)
    df_data_final["Medical Condition"] = df_data_final["Medical Condition"].fillna(moda_medical_condition)

print("Valores nulos en Medical Condition:", df_data_final['Medical Condition'].isnull().sum())

Moda de la columna 'Blood Type': A+
Valores nulos en Blood Type: 0
Moda de la columna 'Medical Condition': Arthritis
Valores nulos en Medical Condition: 0

In [12]:
# Formateamos la columna Name y la columna sex
if "Name" in df_data_final.columns:
    df_data_final["Name"] = (
        df_data_final["Name"]
        .astype(str)
        .str.strip()          # elimina espacios extra
        .str.lower()          # todo en minúscula
        .str.title()          # primera letra mayúscula
    )

if "sex" in df_data_final.columns:
    df_data_final["sex"] = (
        df_data_final["sex"]
        .astype(str)
        .str.strip()
        .str.title()
    )

In [13]:
# Revisamos finalmente como quedo el datafram
print("============= DATAFRAME FINAL ==============")
df_data_final.info()

print("\n" + "=" * 100)
print("Primero 5 registros")
print(df_data_final.head())

print("\n" + "=" * 100)
print("Analisis estadistico general")
print(df_data_final.describe())

============= DATAFRAME FINAL ==============
<class 'pandas.core.frame.DataFrame'>
Index: 9984 entries, 0 to Unnamed 9995
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patient_id         9984 non-null   int64
 1   Name               9984 non-null   object
 2   age                9984 non-null   int64
 3   sex                9984 non-null   object
 4   Blood Type         9984 non-null   object
 5   bmi                9984 non-null   float64
 6   systolic_bp        9984 non-null   float64
 7   diastolic_bp       9984 non-null   float64
 8   glucose            9984 non-null   float64
 9   cholesterol        9984 non-null   float64
 10  creatinine         9984 non-null   float64
 11  diabetes           9984 non-null   int64
 12  hypertension       9984 non-null   int64
 13  diagnosis          9984 non-null   object
 14  readmission_30d    9984 non-null   int64
 15  mortality          9984 non-null   int64
 16  Medical Condition  9984 non-null   object
dtypes: float64(6), int64(6), object(5)
memory usage: 1.4+ MB

====================================================================================================
Primero 5 registros
           patient_id             Name  age     sex Blood Type   bmi  \
0                1001    Bobby Jackson   63    Male         B-  24.1
1                1002     Leslie Terry   52    Male         A+  20.8
2                1003    Emily Johnson   66    Male         A+  30.0
3                1004  Jasmine Aguilar   82    Male        AB+  16.8
Unnamed 0        1005      Danny Smith   50  Female         A-  25.4

           systolic_bp  diastolic_bp  glucose  cholesterol  creatinine  \
0                131.0          81.0    136.2        210.3        1.04
1                118.0          91.0    136.5        207.9        1.49
2                144.0          73.0    100.0        179.5        1.15
3                112.0          76.0    117.3        228.3        0.59
Unnamed 0        102.0          65.0    128.0        150.7        1.38

           diabetes  hypertension      diagnosis  readmission_30d  mortality  \
0                 0             0         Sepsis                0          0
1                 0             1         Normal                0          0
2                 0             0         Normal                0          0
3                 0             0  Heart Failure                0          0
Unnamed 0         0             0         Normal                0          0

          Medical Condition
0                    Cancer
1                   Obesity
2                    Asthma
3                    Asthma
Unnamed 0           Obesity

====================================================================================================
Analisis estadistico general
         patient_id          age          bmi  systolic_bp  diastolic_bp  \
count   9984.000000  9984.000000  9984.000000   9984.00000   9984.000000
mean    5993.641526    54.304487    27.015214    124.81220     80.337240
std     2884.046144    17.639751     5.827587     17.65358     11.387414
min     1001.000000     0.000000    15.000000     90.00000     60.000000
25%     3496.750000    42.000000    22.800000    112.00000     72.000000
50%     5992.500000    54.000000    27.000000    125.00000     80.000000
75%     8488.250000    67.000000    31.000000    137.00000     88.000000
max    11000.000000    90.000000    50.000000    180.00000    110.000000

           glucose  cholesterol   creatinine     diabetes  hypertension  \
count  9984.000000  9984.000000  9984.000000  9984.000000   9984.000000
mean    106.007041   190.870994     1.003501     0.119091      0.304087
std      23.380337    34.335175     0.287771     0.323911      0.460043
min      70.000000   120.000000     0.500000     0.000000      0.000000
25%      88.100000   166.700000     0.790000     0.000000      0.000000
50%     105.300000   190.800000     0.995000     0.000000      0.000000
75%     122.100000   214.300000     1.200000     0.000000      1.000000
max     198.600000   300.000000     2.130000     1.000000      1.000000

       readmission_30d    mortality
count      9984.000000  9984.000000
mean          0.139123     0.027244
std           0.346092     0.162801
min           0.000000     0.000000
25%           0.000000     0.000000
50%           0.000000     0.000000
75%           0.000000     0.000000
max           1.000000     1.000000

In [14]:
# Exportamos nuestro dataset de resultado como un archivo csv
df_data_final.to_csv("dataset_final.csv", index=False)
print("Dataset combinado con éxito...")

Dataset combinado con éxito...